/* .barchartone{
    font-size: 30px;
    font-family: sans-serif;
    padding-top: 30px;
}

.bar { fill: lightskyblue; }

/* svg{
    background-color: lightcoral;
    color: aliceblue;
} */ 
body{
    background-color: lightblue;
}

#mydata{
    background-color: lightblue;
    width: 1600px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 7%;
    
  
}

h1{
    /* background-color: aqua; */
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.button{
    /* background-color: lightblue; */
    font-style: bold;
    color: lightcoralssss;
    font-family: sans-serif;
    /* align-content: center; */
    /* position: absolute; */
    margin-left: 43%;
    width: 20%;
    margin-top: 20px;

}

button{
    color: black;
    background-color: lightcoral;
    border-color: lightblue;
    border-radius: 5px;
    border-style: groove;
    padding: 10px 30px;

}

.pdf{
    /* background-color: lightcoral; */
    margin: 30px;
}

.pdf p{
    background-color: lightcoral;
    text-align: center;
}

.pdf a{
    color: blue;
}

.video{
    margin: 30px;
}

.video p{
    background-color: lightcoral;
    text-align: center;
}

.video a{
    color: blue;
}

iframe{
    background-color: lightcoral;
margin-left: 32%;
margin-bottom: 19%;
}